In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from preprocess import GenerateXY

In [2]:
df = pd.read_csv('Binance_BTCUSDT_1h.csv')
df = df.rename(columns={'Volume USDT': 'volume'})
Generator = GenerateXY(df.loc[0:63], time=32, clip=1)
# # 生成多个x,y用来训练
# train, label = Generator.generate_xy()
# print('x: ', train.shape)
# print('y: ', label.shape)

In [3]:
x = Generator.generate_x()
print('x: ', x.shape)

x:  (1, 32, 32, 1)

In [4]:
np.arange(0, 33, 8)

array([ 0,  8, 16, 24, 32])

In [5]:
df = pd.read_csv('Binance_BTCUSDT_1h.csv')
df[['unix']]

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
0,1.646780e+12,2022/3/9 0:00,BTC/USDT,38730.63,38829.90,38666.00,38686.91,310.87915,12043119.45,8860.0
1,1.646780e+12,2022/3/8 23:00,BTC/USDT,38552.29,38780.49,38530.07,38730.63,798.93718,30915068.83,25656.0
2,1.646780e+12,2022/3/8 22:00,BTC/USDT,38494.34,38642.74,38472.61,38552.29,483.79768,18659067.41,23199.0
3,1.646770e+12,2022/3/8 21:00,BTC/USDT,38512.50,38586.15,38388.73,38494.34,995.67113,38326461.51,35191.0
4,1.646770e+12,2022/3/8 20:00,BTC/USDT,38764.87,38897.68,38434.22,38512.51,1818.43327,70243606.77,46154.0
...,...,...,...,...,...,...,...,...,...,...
42579,1.502957e+09,2017-08-17 08-AM,BTC/USDT,4349.99,4377.85,4333.32,4360.69,0.94990,4139.70,NaN
42580,1.502953e+09,2017-08-17 07-AM,BTC/USDT,4324.35,4349.99,4287.41,4349.99,4.44000,19241.06,NaN
42581,1.502950e+09,2017-08-17 06-AM,BTC/USDT,4315.32,4345.45,4309.37,4324.35,7.23000,31282.31,NaN
42582,1.502946e+09,2017-08-17 05-AM,BTC/USDT,4308.83,4328.69,4291.37,4315.32,23.23000,100304.82,NaN
42583,1.502942e+09,2017-08-17 04-AM,BTC/USDT,16199.91,16199.91,4261.32,4308.83,44.51000,190952.85,NaN

In [26]:
df.iloc[11352:16649,:]

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
11353,1.605850e+12,2020/11/20 6:00,BTC/USDT,18129.99,18176.01,18060.00,18164.80,2523.079494,45718387.34,51191.0
11355,1.605850e+12,2020/11/20 5:00,BTC/USDT,18194.78,18225.00,18045.50,18129.99,2816.692881,51043421.97,52426.0
11357,1.605840e+12,2020/11/20 4:00,BTC/USDT,17955.06,18234.00,17941.66,18194.79,5089.809664,92257335.28,67318.0
11359,1.605840e+12,2020/11/20 3:00,BTC/USDT,17960.09,18023.03,17931.62,17955.06,2215.998646,39840078.26,37124.0
11361,1.605840e+12,2020/11/20 2:00,BTC/USDT,17960.39,18037.50,17916.74,17960.09,2908.676292,52282542.78,46364.0
...,...,...,...,...,...,...,...,...,...,...
19293,1.586801e+09,2020-04-13 06-PM,BTC/USDT,6753.78,6783.23,6746.28,6749.96,1925.810000,13029080.01,NaN
19294,1.586797e+09,2020-04-13 05-PM,BTC/USDT,6754.36,6783.78,6742.04,6753.78,1878.420000,12700793.56,NaN
19295,1.586794e+09,2020-04-13 04-PM,BTC/USDT,6765.65,6798.00,6725.00,6754.36,3742.920000,25309393.75,NaN
19296,1.586790e+09,2020-04-13 03-PM,BTC/USDT,6716.01,6809.97,6697.89,6765.65,4294.070000,28984143.02,NaN
19297,1.586786e+09,2020-04-13 02-PM,BTC/USDT,6619.95,6777.00,6610.00,6716.01,6633.570000,44500989.51,NaN

In [78]:
df = pd.read_csv('Binance_BTCUSDT_1h.csv')
df = df.drop(list(range(11352,16649,2))).reset_index()
df = df.iloc[:-20, :]
df = df.iloc[::-1]
df = df.reset_index()
df

,level_0,index,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
0,39914,42563,1.503014e+09,2017-08-18 12-AM,BTC/USDT,4285.08,4340.62,4228.76,4286.53,78.74000,337549.35,NaN
1,39913,42562,1.503018e+09,2017-08-18 01-AM,BTC/USDT,4286.53,4286.53,4134.61,4243.59,72.32000,304223.23,NaN
2,39912,42561,1.503022e+09,2017-08-18 02-AM,BTC/USDT,4243.59,4298.64,4234.00,4267.59,54.07000,230478.63,NaN
3,39911,42560,1.503025e+09,2017-08-18 03-AM,BTC/USDT,4267.59,4308.70,4234.00,4292.39,63.48000,271281.60,NaN
4,39910,42559,1.503029e+09,2017-08-18 04-AM,BTC/USDT,4292.39,4292.39,4234.43,4287.92,50.69000,216069.15,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
39910,4,4,1.646770e+12,2022/3/8 20:00,BTC/USDT,38764.87,38897.68,38434.22,38512.51,1818.43327,70243606.77,46154.0
39911,3,3,1.646770e+12,2022/3/8 21:00,BTC/USDT,38512.50,38586.15,38388.73,38494.34,995.67113,38326461.51,35191.0
39912,2,2,1.646780e+12,2022/3/8 22:00,BTC/USDT,38494.34,38642.74,38472.61,38552.29,483.79768,18659067.41,23199.0
39913,1,1,1.646780e+12,2022/3/8 23:00,BTC/USDT,38552.29,38780.49,38530.07,38730.63,798.93718,30915068.83,25656.0
39914,0,0,1.646780e+12,2022/3/9 0:00,BTC/USDT,38730.63,38829.90,38666.00,38686.91,310.87915,12043119.45,8860.0

16648

In [37]:
df.iloc[:-20,:]

,index,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
0,0,1.646780e+12,2022/3/9 0:00,BTC/USDT,38730.63,38829.90,38666.00,38686.91,310.87915,12043119.45,8860.0
1,1,1.646780e+12,2022/3/8 23:00,BTC/USDT,38552.29,38780.49,38530.07,38730.63,798.93718,30915068.83,25656.0
2,2,1.646780e+12,2022/3/8 22:00,BTC/USDT,38494.34,38642.74,38472.61,38552.29,483.79768,18659067.41,23199.0
3,3,1.646770e+12,2022/3/8 21:00,BTC/USDT,38512.50,38586.15,38388.73,38494.34,995.67113,38326461.51,35191.0
4,4,1.646770e+12,2022/3/8 20:00,BTC/USDT,38764.87,38897.68,38434.22,38512.51,1818.43327,70243606.77,46154.0
...,...,...,...,...,...,...,...,...,...,...,...
39910,42559,1.503029e+09,2017-08-18 04-AM,BTC/USDT,4292.39,4292.39,4234.43,4287.92,50.69000,216069.15,NaN
39911,42560,1.503025e+09,2017-08-18 03-AM,BTC/USDT,4267.59,4308.70,4234.00,4292.39,63.48000,271281.60,NaN
39912,42561,1.503022e+09,2017-08-18 02-AM,BTC/USDT,4243.59,4298.64,4234.00,4267.59,54.07000,230478.63,NaN
39913,42562,1.503018e+09,2017-08-18 01-AM,BTC/USDT,4286.53,4286.53,4134.61,4243.59,72.32000,304223.23,NaN
39914,42563,1.503014e+09,2017-08-18 12-AM,BTC/USDT,4285.08,4340.62,4228.76,4286.53,78.74000,337549.35,NaN

In [80]:
date = pd.date_range(start='8/18/2017', end='3/9/2022', freq='h')

In [70]:
s = '2020-08-02 02-AM'
def change_date(s):
    new_str = ''
    if (s[-2:] == 'AM' and s[11:] != '12-AM') or s[11:] == '12-PM' :
        new_str = s[:11] + str((int(s[11:13]))%24) + ':00'
    elif s[-2:] == 'PM' or s[11:] == '12-AM':
        new_str = s[:11] + str((int(s[11:13]) + 12)%24) + ':00'
    else:
        new_str = s
    new_str = pd.to_datetime(new_str)
    return new_str
change_date(s)

Timestamp('2020-08-02 02:00:00')

In [75]:
str(df.loc[2, 'date'])

'NaT'

In [74]:
change_date('2022/2/6  6:00:00')

Timestamp('2022-02-06 06:00:00')

In [79]:
df = pd.read_csv('Binance_BTCUSDT_1h.csv')
df = df.drop(list(range(11352,16649,2))).reset_index()
df = df.iloc[:-20, :]
df = df.iloc[::-1]
df = df.reset_index()
for i in range(len(df)):
    df.loc[i, 'date'] = change_date(str(df.loc[i, 'date']))
df

,level_0,index,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
0,39914,42563,1.503014e+09,2017-08-18 00:00:00,BTC/USDT,4285.08,4340.62,4228.76,4286.53,78.74000,337549.35,NaN
1,39913,42562,1.503018e+09,2017-08-18 01:00:00,BTC/USDT,4286.53,4286.53,4134.61,4243.59,72.32000,304223.23,NaN
2,39912,42561,1.503022e+09,2017-08-18 02:00:00,BTC/USDT,4243.59,4298.64,4234.00,4267.59,54.07000,230478.63,NaN
3,39911,42560,1.503025e+09,2017-08-18 03:00:00,BTC/USDT,4267.59,4308.70,4234.00,4292.39,63.48000,271281.60,NaN
4,39910,42559,1.503029e+09,2017-08-18 04:00:00,BTC/USDT,4292.39,4292.39,4234.43,4287.92,50.69000,216069.15,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
39910,4,4,1.646770e+12,2022-03-08 20:00:00,BTC/USDT,38764.87,38897.68,38434.22,38512.51,1818.43327,70243606.77,46154.0
39911,3,3,1.646770e+12,2022-03-08 21:00:00,BTC/USDT,38512.50,38586.15,38388.73,38494.34,995.67113,38326461.51,35191.0
39912,2,2,1.646780e+12,2022-03-08 22:00:00,BTC/USDT,38494.34,38642.74,38472.61,38552.29,483.79768,18659067.41,23199.0
39913,1,1,1.646780e+12,2022-03-08 23:00:00,BTC/USDT,38552.29,38780.49,38530.07,38730.63,798.93718,30915068.83,25656.0
39914,0,0,1.646780e+12,2022-03-09 00:00:00,BTC/USDT,38730.63,38829.90,38666.00,38686.91,310.87915,12043119.45,8860.0

[Timestamp('2020-12-25 02:00:00', freq='H'),
 Timestamp('2021-08-13 03:00:00', freq='H'),
 Timestamp('2021-09-29 08:00:00', freq='H'),
 Timestamp('2021-08-13 02:00:00', freq='H'),
 Timestamp('2021-02-11 04:00:00', freq='H'),
 Timestamp('2017-09-26 18:00:00', freq='H'),
 Timestamp('2021-03-06 02:00:00', freq='H'),
 Timestamp('2021-04-25 06:00:00', freq='H'),
 Timestamp('2021-04-20 02:00:00', freq='H'),
 Timestamp('2021-08-13 04:00:00', freq='H'),
 Timestamp('2020-11-30 06:00:00', freq='H'),
 Timestamp('2020-12-21 15:00:00', freq='H'),
 Timestamp('2021-09-29 07:00:00', freq='H'),
 Timestamp('2021-04-25 07:00:00', freq='H'),
 Timestamp('2020-12-21 17:00:00', freq='H'),
 Timestamp('2020-12-21 16:00:00', freq='H'),
 Timestamp('2021-04-25 05:00:00', freq='H'),
 Timestamp('2021-08-13 05:00:00', freq='H'),
 Timestamp('2017-09-26 16:00:00', freq='H'),
 Timestamp('2021-04-20 03:00:00', freq='H'),
 Timestamp('2017-09-26 17:00:00', freq='H'),
 Timestamp('2017-09-26 15:00:00', freq='H')]

In [103]:
df = pd.read_csv('Binance_BTCUSDT_1h.csv')
df = df.drop(list(range(11352,16649,2))).reset_index()
df = df.iloc[:-20, :]
df = df.iloc[::-1]
df = df.reset_index()
for i in range(len(df)):
    df.loc[i, 'date'] = change_date(str(df.loc[i, 'date']))
df

                     date
0     2017-08-18 00:00:00
1     2017-08-18 01:00:00
2     2017-08-18 02:00:00
3     2017-08-18 03:00:00
4     2017-08-18 04:00:00
...                   ...
39932 2022-03-08 20:00:00
39933 2022-03-08 21:00:00
39934 2022-03-08 22:00:00
39935 2022-03-08 23:00:00
39936 2022-03-09 00:00:00

[39937 rows x 1 columns]

In [116]:
# list(set(date).difference(set(list(df['date']))))
new_df = pd.DataFrame({'date':date})
new_df2 = pd.concat([df.set_index('date'),new_df.set_index('date')], axis=1, join='outer')
new_df2['volume'] = new_df2['Volume USDT']
new_df2 = new_df2[['open', 'high', 'low', 'close', 'volume']]
new_df2 = new_df2.fillna(method='ffill')
new_df2.isnull().values.any()
new_df2.to_csv('BTC-USDT.csv')

True