In [86]:
import time
import pandas as pd
import numpy as np

In [106]:
df = pd.read_csv('trade.csv').drop_duplicates()
print(df.groupby('s')['v'].sum())
print(df.groupby('s')['p'].mean())

s
-1    6.12653
 1    5.72165
Name: v, dtype: float64
s
-1    43443.82076
 1    43437.30652
Name: p, dtype: float64

In [107]:
df

                 T         p        v  s
0    1649307179984  43489.19  0.00030  1
1    1649307179986  43489.18  0.00135 -1
2    1649307179987  43489.18  0.00042 -1
3    1649307179988  43489.19  0.00075  1
4    1649307179988  43489.19  0.00042  1
..             ...       ...      ... ..
495  1649307456148  43400.01  0.04214  1
496  1649307456152  43400.01  0.04214  1
497  1649307456181  43400.00  0.00396 -1
498  1649307456192  43400.00  0.02304 -1
499  1649307456349  43400.00  0.00114 -1

[500 rows x 4 columns]

In [101]:
def analysis(df):
    price = df.groupby('s')['p'].mean()
    volumn = df.groupby('s')['v'].sum()
    if -1 not in price.index and 1 in price.index:
        return [price[1], volumn[1], None, None]
    elif 1 not in price.index and -1 in price.index:
        return [None, None, price[-1], volumn[-1]]
    elif 1 not in price.index and -1 not in price.index:
        return [None, None, None, None]
    else:
        return [price[1], volumn[1], price[-1], volumn[-1]]
analysis(df)

[43437.032910447764, 2.3439200000000002, 43444.68887931034, 2.86458]

In [102]:
second = 1000
per_sec = np.append(np.arange(df['T'][0], df['T'].iloc[-1], 30*second), df['T'].iloc[-1])
res_df = pd.DataFrame(data=None, columns=['T', 'avg_buy', 'vol_buy', 'avg_sell', 'vol_sell'])
for i,t in enumerate(per_sec):
    if i != 0:
        select_df = df[(df['T']>last_t) & (df['T']<t)].reset_index(drop=True)
        res = analysis(select_df)
        res.insert(0, t)
        res_df.loc[len(res_df.index)] = res
    last_t = t
print(res_df)

              T       avg_buy  vol_buy      avg_sell  vol_sell
0  1.649307e+12  43489.190000  0.04057  43489.180000   0.01629
1  1.649307e+12  43461.974545  0.29562  43463.063214   0.37927
2  1.649307e+12           NaN      NaN           NaN       NaN
3  1.649307e+12           NaN      NaN           NaN       NaN
4  1.649307e+12  43421.830000  1.43059  43427.474318   1.34459
5  1.649307e+12  43430.600000  0.10719  43430.590000   0.07372
6  1.649307e+12           NaN      NaN           NaN       NaN
7  1.649307e+12           NaN      NaN           NaN       NaN
8  1.649307e+12  43400.190000  0.15369  43400.000000   0.00117
9  1.649307e+12  43400.010000  0.31596  43400.000000   1.04840

In [116]:
a = 'he:llo'
a.split(':')[0]

'he'

In [114]:
import time
time.time()

1649312129.3011038

In [117]:
import os
os.path.isfile('hello'+'.csv')

False

In [118]:
res_df[['avg_buy', 'T']]

        avg_buy             T
0  43489.190000  1.649307e+12
1  43461.974545  1.649307e+12
2           NaN  1.649307e+12
3           NaN  1.649307e+12
4  43421.830000  1.649307e+12
5  43430.600000  1.649307e+12
6           NaN  1.649307e+12
7           NaN  1.649307e+12
8  43400.190000  1.649307e+12
9  43400.010000  1.649307e+12

In [123]:
from datetime import datetime
datetime.now().timestamp()

1649324375.979513

In [137]:
isinstance(datetime.strptime('2022/01/01 21:35', '%Y/%m/%d %H:%M'), str)

False

In [140]:
pd.to_datetime(time.time())

Timestamp('1970-01-01 00:00:01.649325062')

In [139]:
len('2022/01/01 21:35')

16